<mat-toolbar color="primary">
  VerifyToolTest
  
  <span fxFlex="grow"></span>
  <div *ngIf="afAuth.authState | async as user"> Welcome {{user.displayName}}!</div>
  <button mat-icon-button>    
    <fa-icon *ngIf="loggedin === false || loggedin === undefined " (click)="tutorialService.login()"
        class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']"></fa-icon> <!--signup-->
    <fa-icon *ngIf="loggedin === true" (click)="tutorialService.logout()" class="fas faSignOutAlt fa-lg"
        [icon]="['fas', 'sign-out-alt']"></fa-icon>
  </button>
</mat-toolbar>

<div *ngIf="myitemsdisplay | async as userone">
<div *ngIf="userone as mytemp1 ">
    <pre>{{ mytemp1.TestField }}</pre>
    <pre>{{ mytemp1.TestFieldNext }}</pre>
    {{mytemp1 | json}}
  </div>
</div> 
   
<div *ngIf="myitemsdisplayNew | async as useroneNew">
<div *ngFor="let arrayval of useroneNew.TestArray ">
  <pre>{{ arrayval }}</pre>
</div>
</div> 