<mat-toolbar color="primary">
  VerifyToolTest
  
  <span fxFlex="grow"></span>
  <div *ngIf="afAuth.authState | async as user"> Welcome {{user.displayName}}!</div>
  <button mat-icon-button>    
    <fa-icon *ngIf="loggedin === false || loggedin === undefined " (click)="tutorialService.login()"
        class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']"></fa-icon> <!--signup-->
    <fa-icon *ngIf="loggedin === true" (click)="tutorialService.logout()" class="fas faSignOutAlt fa-lg"
        [icon]="['fas', 'sign-out-alt']"></fa-icon>
  </button>
</mat-toolbar>



<div *ngIf="afAuth.authState | async as user">
            <div *ngIf="myitemsdisplay | async as userone">
              <div *ngFor="let item of userone.item ">
                <pre>{{ item.description }}</pre>
              </div>
            </div>         
 </div>