<mat-toolbar color="primary">
  VerifyToolTest
  
  <span fxFlex="grow"></span>
  <div *ngIf="afAuth.authState | async as user"> Welcome {{user.displayName}}!</div>
  <button mat-icon-button>    
    <fa-icon *ngIf="loggedin === false || loggedin === undefined " (click)="tutorialService.login()"
        class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']"></fa-icon> <!--signup-->
    <fa-icon *ngIf="loggedin === true" (click)="tutorialService.logout()" class="fas faSignOutAlt fa-lg"
        [icon]="['fas', 'sign-out-alt']"></fa-icon>
  </button>
</mat-toolbar>

<div *ngIf="myitemsdisplay | async as userone">
  <div *ngFor="let tempvar of userone.Items ">
    <pre>{{ tempvar.TestDescription }}</pre>
  </div>
  <div *ngIf="userone.maparray as mytemp ">
    <pre>{{ mytemp | json }}</pre>
  </div>
  <div *ngIf="userone.Item as mytemp1 ">
    <pre>{{ mytemp1 }}</pre>
  </div>
</div>    